{% extends "base.html" %}
{% block title %}Delete image "{{ meta.filename|escape }}"{% if settings.wiki_title %} — {{ settings.wiki_title|escape }}{% endif %}{% endblock %}
{% block heads %}
<script type="text/javascript" src="/gae-wiki-static/scripts/btstrp/jquery.min.js"></script>
{% endblock %}
{% block content %}
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/w/image/view?key={{ key|uurlencode }}"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
    <li><a href="/w/image/list"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
    <li><a href="/w/image/upload"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
    <li class="active"><a href="/w/image/delete?key={{ key|uurlencode }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
  </ul>
    <h1>Delete image "{{ meta.filename|escape }}"</h1>
    <p class="alert alert-danger"><b>Warning:</b> You are about to delete the "{{ meta.filename|escape }}" image. Deleting it will cause the image to be deleted forever and <b>can never be recovered</b>! Please confirm that you wish to do so.</p>
    <form action="/w/image/delete" method="POST">
        <input type="hidden" name="key" value="{{ key|uurlencode }}"/>
        <input type="hidden" name="delete" value="1"/></p>
        <input class="btn btn-danger" type="submit" name="Delete" value="Confirm deletion"/> <a class="btn btn-default" href="/w/image/view?key={{ key|uurlencode }}">Cancel</a>
    </form>
  </div>
{% endblock %}
